.ck.ck-media-embed-form {
	padding: var(--ck-spacing-large);
	display: grid;
	gap: var(--ck-spacing-standard);
}

.ck.ck-media-embed-form .iframe-code-input {
	width: 100%;
}

.ck.ck-media-embed-form .iframe-code-input textarea {
	width: 100%;
	min-width: unset;
}

.youtube-url-and-size-container {
	display: flex;
	gap: 10px;
}

.ck.ck-media-embed-form .youtube-url-and-size-container * input {
	width: 100%;
	min-width: unset;
}

.ck.ck-media-embed-form .youtube-url-and-size-container .youtube-url {
	width: 70%;
}

.ck.ck-media-embed-form .youtube-url-and-size-container .youtube-width {
	width: 15%;
}

.ck.ck-media-embed-form .youtube-url-and-size-container .youtube-height {
	width: 15%;
}

.ck.ck-media-embed-form .youtube-iframe-config-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.ck.ck-media-embed-form .youtube-iframe-config-container .youtube-start-at input {
	width: 100%;
	min-width: unset;
}

.ck.ck-media-embed-form .control-btn-container {
	text-align: right;
}